
    # Bucket name, as created using the AWS mb command
    bucket = "<bucket_name>"

    # The file name. Follow the naming convention: <environment>/terraform/sftp_server/terraform.tfstate
    key = "<environment>/terraform/sftp_server/terraform.tfstate"

    # S3 access key
    access_key = "<access_key>"

    # S3 secret key
    secret_key = "<secret_key>"

    # S3 endpoint
    endpoint = "<endpoint_url>"

